<div class="container">


<nav class="navbar navbar-toggleable-md navbar-light navbar-fixed-top bg-menu">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><i class="fa fa-institution"></i> <span class="navbar-titles brand">Mozium</span></a>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"><span class="navbar-titles">Home</span> <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#"><span class="navbar-titles">Pricing</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled" href="#"><span class="navbar-titles">Demo</span></a>
          </li>

          <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle" id="MenuMessages"  href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <i class="fa fa-envelope"></i><span class="navbar-titles"> Messages</span> <b class="caret"></b>
             </a>
            <ul class="dropdown-menu dropdown-menu-right messages">

            </ul>
          </li>

          <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle" id="MenuStatistics"  href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <i class="fa fa-tachometer"></i> <span class="navbar-titles">Dashboard</span><b class="caret"></b>
             </a>
             <div class="dropdown-menu dropdown-menu-right" aria-labelledby="MenuLanguage">
               <a class="dropdown-item " href="#">   <i class="fa fa-area-chart"></i> Area Chart</a>
               <a class="dropdown-item " href="#">   <i class="fa fa-bar-chart"></i> Bar Chart</a>
               <a class="dropdown-item " href="#">    <i class="fa fa-line-chart"></i> Line Chart</a>
               <a class="dropdown-item " href="#">    <i class="fa fa-pie-chart"></i> Pie Chart</a>

             </div>
          </li>

          <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle" id="MenuAlerts"  href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bell"></i> <span class="navbar-titles">Alerts </span><span class="badge badge-info"> 4</span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <a href="javascript:void(0)" class="dropdown-item">Pending Tasks <span class="badge badge-info"> 4</span></a>
                <a href="javascript:void(0)" class="dropdown-item">Meetings <span class="badge badge-info"> 10</span></a>
                <a href="javascript:void(0)" class="dropdown-item">Mails <span class="badge badge-info"> 89</span></a>
                <li class="dropdown-divider"></li>
                <a href="javascript:void(0)" class="dropdown-item">View All</a>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav nav-right pull-right">
          <li class="nav-item dropdown" style="color:blue" ngbDropdown>
             <a class="nav-link dropdown-toggle" id="MenuUser" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <img class="profileImg">
                 <i><span class="navbar-titles userName">Moez Ben Aissa</span></i>  <b class="caret" ></b>
             </a>
             <div class="dropdown-menu dropdown-menu-right" aria-labelledby="User">
               <a class="dropdown-item " href="#">   <i class="fa fa-user-circle-o"></i> Profile</a>
               <a class="dropdown-item " href="#">   <i class="fa fa-user-plus"></i> Register</a>
               <a class="dropdown-item " href="#">    <i class="fa fa-sign-in"></i> Login</a>
             </div>
          </li>
        </ul>

        <ul class="nav navbar-nav nav-right pull-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="MenuLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="fa fa-language"></i> <span class="navbar-titles">Fr</span> <b class="caret"></b></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="MenuLanguage">
              <a class="dropdown-item" href="#">Ar</a>
              <a class="dropdown-item" href="#">En</a>
              <a class="dropdown-item" href="#">Fr</a>
            </div>
          </li>
        </ul>
  </div>
</nav>
</div>
