<section id= "Footer">
  <div class="container">
  	<div class="row">
  		<div class="col connect">
  			<h4 class="footer-title">Connect</h4>
  			<p><a class="social footer-about" href="http://facebook.com/moezbenaissa" target="_blank"><i class="fa fa-facebook connectIcons"></i></a>
           <a class="social footer-about" href="http://twitter.com/MoezMba" target="_blank"><i class="fa fa-twitter connectIcons"></i></a>
            <a class="social footer-about" href="http://instagram.com/benmba" target="_blank"><i class="fa fa-instagram connectIcons"></i></a>
        </p>
      </div>
      <div class="col connect">
        <h4 class="footer-title">Contact</h4>
  			<p><a class="footer-about" href="mailto:moez.benaissa@gmail.com">@mail</a></p>
  		</div>
  		<div class="col about">
  			<h4 class="footer-title">About</h4>
  			<p class="footer-about">MBA a pour but d'enrichir votre vie et la rendre plus Luxeuse et chic, à travers notre conseil et nos produit certifiés.</p>
  			<p class="footer-about">© Copyright<br>
  		</p></div>
  	</div>
  </div>
</section>
