#Footer{
    background: #00264d;
    color: #9097a0;
    padding: 150px 0;
    height: 500px;
}

.footer-about{
  color: #fff;
  font-weight: normal;
  margin-top: 0;
  line-height: 1.2;
  padding: 10px 0;
}

.footer-title{
 border-bottom:  1px solid ;
 color: #fff;
}
.connectIcons{
  content: "\f09a"
}
